@import "./variable";

.game_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    background-color: #222325;
    z-index: 1000;

    .top {
        width: 100%;
        height: 20px;
        display: flex;
        padding: 0 10px;
        justify-content: space-between;

        .theme_action {
            width: 50px;
            height: 20px;
            display: flex;
            justify-content: space-evenly;

            span {
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &::before {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    display: flex;
                    background-color: #ffffff00;
                    border-radius: 50%;
                    transition: .4s;
                }

                &:hover {
                    &::before {
                        background-color: #ffffff2e;
                        width: 25px;
                        height: 25px;
                    }
                }

                &:nth-of-type(1) svg {
                    fill: $defaultColor;
                }

                svg {
                    width: 14px;
                    height: 14px;
                    fill: #909090;
                }
            }
        }

        .links {
            width: fit-content;
            min-width: fit-content;
            height: 20px;
            display: flex;

            @media (max-width: 700px) {
                display: none;
            }

            .link {
                width: fit-content;
                min-width: fit-content;
                padding: 0 3px;
                height: 20px;
                display: flex;
                color: #808080;
                font-size: 12px;
                font-family: mon_bold;
                line-height: 20px;

                &:nth-of-type(1) {
                    color: $defaultColor;
                }
            }
        }

        .social {
            width: calc(30px * 4);
            height: 20px;
            display: flex;

            .sc {
                width: 30px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                svg {
                    width: 15px;
                    height: 15px;
                    display: flex;
                    fill: #a1a1a1;
                    filter: drop-shadow(0 0 10px #00000000);
                    transition: linear 0.2s !important;
                }

                &:hover {
                    svg {
                        filter: drop-shadow(0 0 10px $defaultColor);
                        fill: $defaultColor;
                    }
                }
            }
        }
    }

    .bottom {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;

        .me_pic {
            position: absolute;
            left: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            display: flex;
            background-position: center;
            background-size: cover;

            &::before {
                content: "";
                position: absolute;
                top: -5px;
                left: -5px;
                bottom: -5px;
                right: -5px;
                background-color: #ffffff1f;
                border-radius: 7px;
                z-index: -1;
            }
        }

        .logo {
            width: 100px;
            height: 30px;
            display: flex;
            background-image: url(/images/logo_full.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 50px;
            margin-top: 10px;
        }

        .macTxt {
            width: 200px;
            min-width: 200px;
            height: 100%;
            overflow: hidden;

            @media (max-width: 500px) {
                display: none;
            }

            @keyframes scroll-left {
                0% {
                    -moz-transform: translateX(100%);
                    -webkit-transform: translateX(100%);
                    transform: translateX(100%);
                }

                100% {
                    -moz-transform: translateX(-100%);
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                }
            }

            h3 {
                position: absolute;
                width: fit-content;
                min-width: fit-content;
                max-width: fit-content;
                height: 100%;
                margin: 0;
                line-height: 50px;
                text-align: center;
                color: $defaultColor;
                font-family: mon_bold;
                font-size: 13px;
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
                -moz-animation: scroll-left 20s linear infinite;
                -webkit-animation: scroll-left 20s linear infinite;
                animation: scroll-left 20s linear infinite;
            }
        }

        .action {
            width: 170px;
            height: 30px;
            margin-top: 10px;
            margin-right: 5px;
            display: flex;

            @media (max-width: 500px) {
                width: 130px;
            }

            .btn {
                width: calc(100% / 2);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 9px;
                font-family: mon_med;
                text-transform: uppercase;
                color: $defaultColor;
                border: 2px solid $defaultColor;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                &:nth-of-type(1) {
                    border-radius: 4px 0 0 4px;
                }

                &:nth-of-type(2) {
                    border-radius: 0 4px 4px 0;
                }
            }
        }
    }
}

.new_game {
    position: fixed;
    bottom: 30px;
    height: 50px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 600;
    align-self: center;
    left: calc(50vw - 65px);
    background-color: #090909;
    color: $defaultColor;
    border-radius: 60px;
    font-family: mon_bold;
    user-select: none;
    cursor: pointer;
    transform: scale(1);
    justify-content: center;
    align-items: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;

    @media (max-width: 500px) {
        width: 120px;
        height: 40px;
        font-size: 12px;
    }

    &:active {
        transform: scale(0.9);
    }

    &::before {
        content: "";
        position: absolute;
        bottom: -35px;
        left: -10px;
        right: -10px;
        height: 20px;
        background-color: black;
        z-index: -2;
        border-radius: 50%;
        filter: blur(10px) opacity(0.6);
    }

    .icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-self: center;
        margin: 0 4px;
        justify-content: center;
        align-items: center;

        svg {
            color: rgb(240, 146, 6);
        }
    }
}

.games_view {
    position: fixed;
    bottom: -100vh;
    left: 0;
    width: 100vw;
    height: calc(100vh - 68px);
    min-height: calc(100vh - 68px);
    z-index: 900;
    background-color: #131315;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;

    &.open {
        bottom: 0;
    }


    &::before {
        align-self: center;
        justify-content: center;
        text-align: center;
        content: "Games";
        width: 100%;
        min-width: 100%;
        height: 50px;
        line-height: 50px;
        min-height: 50px;
        max-height: 50px;
        display: flex;
        font-size: 16px;
        font-family: mon_bold;
        color: $defaultColor;
    }

    .btn_close {
        top: 10px;
        left: 10px;
        z-index: 1000;
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: #090909;
        color: white;

        &:hover {
            background-color: #131513;
        }
    }

    .container {
        width: 100%;
        min-width: 100%;
        height: calc(100% - 50px);
        display: flex;
        overflow: hidden;
        overflow-y: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        flex-wrap: wrap;
        padding: 0 50px;
        justify-content: space-evenly;

        &::-webkit-scrollbar {
            width: 0;
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            width: 0;
            display: none;
        }

        .game {
            width: 220px;
            min-width: 220px;
            margin: 10px 15px;
            height: 280px;
            min-height: 280px;
            display: flex;
            background-color: #000;
            border-radius: 10px;
            box-shadow: 0 0 18px #00000054;
            flex-direction: column;
            overflow: hidden;
            transform: scale(1);
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
            cursor: pointer;

            &:active {
                transform: scale(0.9);
            }

            .img {
                margin: 15px;
                width: calc(100% - 30px);
                height: calc(60% - 30px);
                display: flex;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .details {
                width: 100%;
                height: 40%;
                display: flex;
                flex-direction: column;
                padding: 10px 8px;

                .name {
                    font-size: 16px;
                    font-family: mon_bold;
                    color: $defaultColor;
                }

                .info {
                    width: 100%;
                    height: fit-content;
                    min-height: fit-content;
                    display: inline-block;
                    color: #e9e9e9;
                    margin: 5px 0;
                    font-size: 14px;

                    b {
                        font-family: mon_bold;
                        color: white;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    @media (max-width: 700px) {
        .container {
            padding: 0 20px;

            .game {
                width: 98%;
                min-width: 270px;
                margin: 10px 15px;
                height: 25vh;
                min-height: 200px;
                max-height: 250px;

                .details {
                    padding: 2px 10px;

                    span {
                        &.name {
                            font-size: 14px;
                        }

                        &.info {
                            font-size: 10px;

                            b {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.MuiMenu-paper {
    background-color: rgb(10, 10, 10) !important;
    color: white !important;
}


.game_picker_view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 900;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none !important;

    &.open {
        opacity: 1;
        pointer-events: visible !important;
    }

    .container,
    .container_join,
    .container_price {
        width: 45%;
        min-width: 290px;
        max-width: 500px;
        height: fit-content;
        min-height: 200px;
        display: flex;
        align-self: center;
        background-color: #161916;
        border-radius: 10px;
        flex-wrap: wrap;

        .title {
            width: 100%;
            height: fit-content;
            min-height: fit-content;
            padding: 15px 20px 5px 20px;
            font-family: mon_bold;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: $defaultColor;
        }

        .txt {
            width: 100%;
            height: fit-content;
            min-height: fit-content;
            display: flex;
            padding: 0 20px;
            text-align: center;
            padding-top: 10px;
            color: #bfbfbf;
        }

        .inputBox {
            width: 90%;
            height: 85px;
            display: flex;
            flex-direction: column;
            padding: 10px 7%;

            &.norm {

                label {
                    width: fit-content;
                    min-width: fit-content;
                    height: fit-content;
                    min-height: fit-content;
                    display: flex;
                    font-size: 14px;
                    font-family: mon_bold;
                    color: $defaultColor;
                    margin: 0 5px;
                    margin-bottom: 5px;
                }

                input {
                    width: 100%;
                    height: 50px;
                    padding: 0 20px;
                    background-color: rgba($color: #000, $alpha: 0.5);
                    color: white;
                }
            }

            &.select {
                margin: 30px auto 0 auto;
                padding: 0;

                select {
                    background-color: #000 !important;
                    color: white;

                    * {
                        background-color: #000 !important;
                        color: white;
                    }
                }

                label {
                    font-size: 14px;
                    font-family: mon_bold;
                    color: $defaultColor !important;
                }

                * {
                    color: white;
                }

                input {
                    background-color: rgba($color: #000, $alpha: 0.5);
                    color: white;
                }
            }
        }

        .btn {
            width: 190px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px 10px;
            background-color: $defaultColor;
            color: white;
            border-radius: 5px;
            margin: 10px auto 20px auto;
            cursor: pointer;
            transform: scale(1);
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;

            &:active {
                transform: scale(0.98);
            }
        }
    }

    .action {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        justify-content: center;

        .btn {
            width: 120px;
            height: 120px;
            display: flex;
        }
    }

}

.game_content_view {
    width: 32%;
    min-width: 320px;
    max-width: 380px;
    height: fit-content;
    min-height: fit-content;
    background-color: #212121;
    display: flex;
    margin: 10px 15px;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 5px 15px #00000042;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        background-image: url(/images/pic4.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: .1;
    }

    .name {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: white;
        font-family: mon_bold;
        font-size: 18px;
    }

    .date {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: #a2a2a2;
        font-family: mon;
        font-size: 12px;
        padding: 5px 0 5px 10px;
    }

    .viewee {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        margin-bottom: 10px;
        flex-wrap: wrap;

        span {
            width: fit-content;
            min-width: 70px;
            height: 40px;
            display: flex;
            margin: 7px 10px;
            padding: 0 5px;
            border-radius: 5px;
            background-color: #000;
            color: #fff;
            font-family: mon_bold;
            font-size: 12px;
            line-height: 40px;
            text-align: center;
            justify-content: center;

            svg {
                top: 14px;
            }

            &::before {
                content: attr(class);
                width: fit-content;
                height: fit-content;
                min-width: fit-content;
                min-height: fit-content;
                display: flex;
                position: absolute;
                top: -15px;
                font-size: 10px;
                font-family: mon_bold;
                line-height: normal;
                color: $defaultColor;
            }
        }
    }

    .action {
        width: 100%;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 0px;

        .btn {
            width: 45%;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            line-height: 45px;
            background-color: darken($color: $defaultColor, $amount: 20);
            color: white;
            border-radius: 60px;
            font-family: mon_bold;
            cursor: pointer;
            transform: scale(1);
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;

            &:active {
                transform: scale(0.9);
            }

            &:nth-of-type(2) {
                background-color: #101010;
                color: #e21616;
            }
        }
    }
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    * {
        color: white;
    }
}

.games_world_,
.history,
.Get_coin,
.Settings {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: block;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: scrollbar;
    padding-top: 60px;
    background-color: $body;

    * {
        pointer-events: visible;
    }

    &.blur {
        * {
            pointer-events: none;
        }

        filter: blur(4px);
    }

    &::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        width: 0;
        display: none;
    }

    .first {
        width: 100%;
        height: 50vh;
        min-height: 350px;
        max-height: 400px;
        display: flex;
        background-color: $win;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 50%;
            min-width: 350px;
            height: 90%;
            margin-top: 10%;
            display: flex;
            align-self: center;
            background-image: url(/images/pic1.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0.1;
        }

        .cover {
            width: fit-content;
            height: fit-content;
            min-width: fit-content;
            min-height: fit-content;
            display: flex;

            .sw_btn {
                position: absolute;
                top: calc(50% - 25px);
                height: 45px;
                width: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(250, 250, 250, 0);
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: rgba(250, 250, 250, 0.1);
                }

                &:nth-of-type(1) {
                    left: -50px;

                    @media (max-width: 500px) {
                        left: -30px;
                    }
                }

                &:nth-of-type(2) {
                    right: -50px;

                    @media (max-width: 500px) {
                        right: -30px;
                    }
                }

                svg {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-self: center;
                    fill: $defaultColor;
                    filter: drop-shadow(0 0 5px $defaultColor);
                }
            }

            .container {
                width: 270px;
                height: 250px;
                display: flex;
                overflow: hidden;
                overflow-x: auto;
                scrollbar-width: 0;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                scroll-snap-stop: always;


                &::-webkit-scrollbar {
                    display: none;
                    width: 0;
                }

                .sw {
                    width: 100%;
                    min-width: 100%;
                    height: 100%;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    scroll-snap-align: center;
                    opacity: 0.2;
                    transition: linear .6s;
                    transition-delay: .3s;

                    * {
                        transform: scale(0.8);
                    }

                    &.inview {
                        opacity: 1;

                        * {
                            transform: scale(1);
                        }
                    }

                    .time {
                        width: fit-content;
                        min-width: fit-content;
                        min-height: fit-content;
                        height: fit-content;
                        display: flex;
                        color: $defaultColor;
                        font-family: mon_med;
                    }

                    .title {
                        width: fit-content;
                        height: fit-content;
                        min-width: fit-content;
                        min-height: fit-content;
                        font-size: 30px;
                        font-family: mon_bold;
                        color: white;
                        text-transform: uppercase;
                    }

                    .price {
                        width: 100%;
                        height: fit-content;
                        min-height: fit-content;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        font-size: 35px;
                        color: $defaultColor;
                        font-family: mon_bold;

                        @media (max-width: 500px) {
                            font-size: 27px;
                        }

                        .icon {
                            width: 40px;
                            height: 40px;
                            display: flex;

                            @media (max-width: 500px) {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }

                    .action {
                        width: 100%;
                        height: fit-content;
                        min-height: fit-content;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 20px;

                        .btn {
                            width: 45%;
                            margin-top: 20px;
                            height: 45px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #808080;
                            font-size: 14px;
                            font-family: mon_bold;
                            border: 2px solid $defaultColor;
                            border-radius: 6px;
                            background-color: #222522;
                            cursor: pointer;
                            transform: scale(1);
                            transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;

                            &:active {
                                transform: scale(.9);
                            }
                        }
                    }
                }
            }
        }
    }

    .second {
        width: 100vw;
        height: fit-content;
        min-height: fit-content;
        display: flex;

        .container {
            width: 100vw;
            min-height: fit-content;
            height: fit-content;
            display: flex;
            padding: 10px 15px;
            flex-wrap: wrap;
            flex-direction: column;
            padding-top: 40px;

            .title {
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 500px) {
                    flex-direction: column;
                }

                h3 {

                    width: fit-content;
                    min-width: fit-content;
                    display: flex;
                    min-height: fit-content;
                    height: fit-content;
                    padding-left: 20px;
                    padding-right: 10px;
                    font-family: mon_bold;
                    font-size: 20px;
                    color: $defaultColor;
                }

                .title_tab {
                    width: fit-content;
                    height: 70px;
                    min-height: 70px;
                    display: flex;
                    padding-top: 10px;

                    .btn {
                        width: fit-content;
                        min-width: fit-content;
                        height: 100%;
                        min-height: 100%;
                        display: flex;
                        line-height: 40px;
                        font-family: mon_bold;
                        color: #909090;
                        font-size: 11px;
                        padding: 0 7px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }

                        &.on {
                            color: $defaultColor;
                            font-size: 13px;
                        }
                    }
                }
            }

            .game_content {
                width: 100%;
                height: fit-content;
                min-width: 100%;
                min-height: fit-content;
                display: flex;
                flex-wrap: wrap;
                padding-top: 20px;
                padding-bottom: 70px;
                justify-content: space-evenly;
            }
        }
    }
}