@import "./variable";

.game_picker2 {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3500;
    top: 100px;
    opacity: 0;
    pointer-events: none;
    
    &.open{
        opacity: 1;
        top: 0;
        pointer-events: visible;
    }
    &.dark-mode {
        background-color: rgba($color: #000000, $alpha: 0.6);
        color: #ffffff;

        .title,
        .container {
            background-color: #232123;
        }

        .table_ {
            background-color: #232123;
            min-width: 400px;

            * {
                color: #ffffff;
            }
        }

        .action_input {
            background-color: #232123;
            box-shadow: 0 0 10px #00000061;
        }
    }

    &.light-mode {
        background-color: rgba($color: #ffffff, $alpha: 0.7);
        color: #202020;

        .title,
        .container {
            background-color: #ffffffa8;
        }

        .table_ {
            background-color: #ffffff;
            min-width: 400px;

            * {
                color: #232123;
            }
        }

        .action_input {
            background-color: #ffffff;
            box-shadow: 0 -10px 10px #e2e2e27a;
        }
    }

    .container_pop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        background-color: rgba($color: #000000, $alpha: 0.9);
        z-index: 1000;
        justify-content: center;
        align-items: center;
        transform: scale(0.9);
        opacity: 0;
        transition: ease-in-out .4s;
        pointer-events: none;
        
        &.open{
            pointer-events: visible;
            transform: scale(1);
            opacity: 1;
        }

        .content {
            width: 40%;
            min-width: 300px;
            max-width: 450px;
            display: flex;
            flex-direction: column;
            height: 35%;
            min-height: fit-content;
            max-height: 400px;
            padding: 10px;
            background-color: #232123;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.8);

            .title {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                line-height: 50px;
                text-align: center;
                font-family: mon_bold;
                font-size: 16px;
                color: white;
            }
            .txt {
                width: 100%;
                height: fit-content;
                min-height: fit-content;
                display: flex;
                flex-wrap: wrap;
                padding: 10px 20px;
                justify-content: center;
                text-align: center;
            }
            .btn {
                background-color: rgb(50, 207, 71);
                color: white;
                margin: 10px auto;
                width: 80%;
            }
        }
    }
    .container {
        position: fixed;
        top: 0;
        width: 100%;
        min-width: 100%;
        max-width: 1000px;
        height: 100vh;
        min-height: 100vh;
        overflow: hidden;
        overflow-y: auto;
        padding: 0 10px 0 0;
        overflow: hidden;
        overflow-y: auto;
        padding-top: 50px;

        @media (max-width: 700px) {
            width: 80%;
        }

        @media (max-width: 500px) {
            width: 90%;
            padding: 0;
        }

        .title {
            position: fixed;
            top: 0;
            z-index: 100;
            height: 50px;
            width: 100%;
            justify-content: center;
            text-align: center;
            line-height: 50px;
            color: currentColor;
            padding: 0 60px 0 0;
            @media (max-width: 500px) {
                padding: 0;
            }
        }

        .list_games {
            width: 100%;
            height: fit-content;
            min-height: fit-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 20px 15px;
            padding-top: 60px;

            @media (min-width: 500px) {
                padding-left: 60px;
            }
        }

        .noti {
            min-width: 300px;
            max-width: 400px;
            margin: 10px 20px;

            .main .date span:nth-of-type(1) {
                font-size: 15px;
            }

            .cash.in {
                font-size: 14px;
            }

            &.dark-mode {
                .btn_ {
                    color: white;
                }
            }

            &.light-mode {
                .btn_:nth-of-type(2) {
                    color: rgb(80, 223, 86);
                }
            }

            .btn_ {
                width: 45%;
                height: 45px;
            }
        }

        .btn_play {
            width: 100px;
            height: 30px;
            min-height: 30px;
            max-height: 30px;
            margin-left: 10px;

            &.dark-mode {
                box-shadow: 0px 7px 10px #00000075, 0 0 10px #3f51b538;

                &:hover {
                    background-color: $defaultColor;
                }

                span {
                    color: #f9f9f9;
                }
            }

            &.light-mode {
                box-shadow: 0px 7px 10px #eeeeee75, 0 0 10px #3f51b51a;

                span {
                    color: #101010;
                }
            }


            * {
                font-size: 12px;
                font-family: exep_bold !important;
            }
        }

        .action_input {
            width: 100vw;
            position: fixed;
            bottom: 0;
            z-index: 300;
            display: flex;
            padding: 10px 60px;

            @media (max-width: 500px) {
                padding: 10px 0;
            }

            .inputBox {
                width: 30%;
                height: fit-content;
                min-height: fit-content;
                margin: 0 auto 0 auto;
                color: white;

                &.dark-mode {
                    input {
                        color: white;
                    }

                    .icon {
                        color: $defaultColor;
                    }

                    fieldset {
                        border-color: $defaultColor;
                    }
                }

                &.light-mode {
                    input {
                        color: #202020;
                    }

                    .icon {
                        color: #483737;
                    }

                    fieldset {
                        border-color: #b3b3b3;
                    }
                }

                &:nth-of-type(2) {
                    svg {
                        transform: rotate(180deg);
                    }
                }

                * {
                    font-family: exep_bold;
                }

                input {
                    padding: 13px 0;
                    font-family: exep;
                    font-size: 13px;
                }

                .icon {
                    color: #483737;

                    svg {
                        width: 20px;
                        height: 20px;
                        fill: currentColor;
                    }
                }
            }

            .srch,
            .cls {
                width: 45px;
                height: 45px;
                background-color: $defaultColor;
                color: white;
            }

            .cls {
                background-color: #e23030;
            }
        }
    }
}