@import "./variable.scss";

.Referal {
    display: flex;
    align-items: center;
    padding-bottom: 100px;

    .container_first {
        width: 90%;
        max-width: 1200px;
        height: fit-content;
        min-height: fit-content;
        display: flex;
        padding-bottom: 20px;
        box-shadow: 0px 7px 10px #0000001a;
        flex-direction: column;
        border-radius: 5px;
        margin-top: 50px;
        background-color: #111113;
        color: white;

        &:nth-of-type(1) {
            margin-top: 0;
        }


        .title {
            width: fit-content;
            height: fit-content;
            display: flex;
            user-select: none;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0 5px 10px;
            font-family: mon_bold;
            font-size: 14px;
            color: $defaultColor;

            &:nth-of-type(2) {
                position: absolute;
                top: 24px;
                left: 5px;
                color: white;
                font-family: mon;
                font-size: 12px;
                b {
                    font-family: mon_med;
                    margin: 0 5px;
                    font-size: 14px;
                    color: #ffc34d;
                    text-transform: uppercase;
                }
            }
        }

        .content {
            width: 100%;
            height: 200px;
            min-height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                width: fit-content;
                height: fit-content;
                display: flex;

                &.icon {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #000;
                    background-image: url(/images/logo.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-right: 15px;
                }

                svg {
                    width: 30px;
                    height: 30px;
                    align-items: center;
                    margin: 3px 10px 0 10px;
                }

                &.count {
                    font-size: 30px;
                    font-family: mon_bold;
                }
            }
        }

        .content_ {
            width: 100%;
            height: fit-content;
            min-height: fit-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            border-top: 2px rgba($color: #000000, $alpha: 0.6) solid;
            padding-top: 10px;

            .item {
                width: calc(100% / 4 - 20px);
                min-width: 150px;
                height: 70px;
                display: flex;
                flex-direction: column;
                color: currentColor;
                align-items: center;

                .name {
                    width: 100%;
                    height: fit-content;
                    min-height: fit-content;
                    display: flex;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-size: 11px;
                    opacity: 0.8;
                    font-family: mon_bold;
                }

                .btn_ {
                    width: 90%;
                    height: 45px;
                    background-color: $defaultColor;
                    color: currentColor;
                    align-self: center;
                    margin-top: 10px;

                    * {
                        font-size: 14px;
                        font-family: mon_bold;
                    }

                    .icon {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: $defaultColor;
                        background-image: url(/icon.png);
                        background-position: center;
                        opacity: 0.4;
                        background-size: cover;
                        margin-right: 15px;
                    }
                }

                .value {
                    width: 100%;
                    padding-top: 10px;
                    height: fit-content;
                    min-height: fit-content;
                    display: flex;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-size: 22px;
                    font-family: mon_bold;
                }
            }
        }
    }
}