$defaultColor: #FF5722;
$bounce: cubic-bezier(0, -0.69, 0.85, 1.38);
$darkNG: #232123;
$darkBG: #323535;
$lightBG: #f7f6f5;
$lightNG: white;
$darkNGTxt: #9e9d9e;
$darkBGTxt: #e7e8e9;
$lightNGTxt: #848484;
$lightBGTxt: #111010;

// https: //dribbble.com/shots/11465201-Gamos-Tournaments